*{
  text-align: center;
  font-family: Helvetica;
}

header h1{
  color: white;
  font-size: 70px;
  font-weight:bold;
  padding-top: 10px;
}

header{
  color: white;
  background-image: url(resources/flatiron.png);


}
h2{
  font-size: 32px;
  font-weight: bold;
  }

h3{
    font-size: 23px;
    font-weight: bold;
  }
div id p{
  font-size: 14px;
}
